* {
  font-family: "Rock Salt", cursive;
  color: #ab8752;
}

html {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
}

thead th,
tfoot th {
  font-family: "Rock Salt", cursive;
}

th {
  letter-spacing: 2px;
 }

td {
  letter-spacing: 1px;
  color: #ab8752;
}

tbody td {
  text-align: center;
  color: #ab8752;
}

tfoot th {
  text-align: right;
}

#title {
  color: #ab8752;
}

#author {
  color: #ab8752;
}

h2 {
  font-size: xx-large;
  font-family: Arial, Helvetica, sans-serif;
  color: #ab8752;
  text-align: center;
}

p {
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  color: #ab8752;
  text-align: center;
}

div.table {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium; 
  max-width: 80%;
  min-width: auto;
  margin: auto;
  display: table;
  text-align: center;
  border-collapse: collapse;
  border: solid navy; 
  color: #ab8752;
}